.header-color{
    background: #000000;   
      
  }
  .home-grid{
  background: #e5e8e8;
  text-align: center;
  position: fixed;
  top: 50;
  left:0;
  width: 100%;
  height: 100%; 
  }
  .avatar-img{
    height:250px;
    padding-top:5em;
  }
  .banner-text{
    background-color:black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius:10px;
  }
  .banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color:white;
  }
  .banner-text hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }
  .banner-text p{
    color:white;
    font-size:  20px;
    padding:  1em;
  }
  .label-bounds label{
    width: 50%;
  }
  